# Ignorar archivos de configuración sensibles
.env

# Entornos virtuales
venv/
env/

# Archivos de Python compilados
__pycache__/
*.pyc

# Logs y bases de datos locales
*.log
*.sqlite3

# VS Code settings (opcional)
.vscode/
